
td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 200px;
}

.column {
    float: left;
    display: block;
    flex-wrap: wrap;
    text-align: center;
    margin-right: 12px;
}

.myform-control {
    vertical-align: text-top;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

label {
    font-weight: bold;
    display: inline-block;
    width: 160px;
    text-align: right;
}

#row {
    display: flex;
    vertical-align: top;
    white-space: nowrap;
    overflow: auto;
}

/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

.myContainer{
    margin-top: 2%;
    margin-right : 5%;
    margin-left: 5%;
    margin-bottom: 2%;
}
.spacer{
    margin-top: 2%;
}

.titre{
    font-weight: bold;
}

.myblock{
    display: block;
    margin-bottom: 5%;
}

.btnForm {
    margin-top: 3px;
    margin-left: 165px;
}

.my-nav-right{
    flex-grow: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-end;
}
