<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{myLayout}">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Spectacle</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
          crossorigin="anonymous"/>
    <script type="text/javascript" th:src="@{/js/actions.js}"></script>

</head>
<body>
<div layout:fragment="content">
    <div class="myContainer">
<!--        <form th:action="@{/admin/index}" method="get">
            <label for="mc">Mot Clé : </label>
            <input id="mc" type="text" name="motCle" th:value="${motcle}"/>
            <button class="btn btn-primary">Chercher</button>
        </form>-->

        <nav class="navbar navbar-light bg-light">
            <form class="form-inline" th:action="@{/admin/index}" method="get">
                <label for="mc">Mot Clé : </label>
                <input id="mc" class="form-control mr-sm-2" type="search" name="motCle"
                       th:value="${motcle}" placeholder="Mot Clé du titre">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Chercher</button>
            </form>
        </nav>

    </div>
    <div class="myContainer">
        <h1>Liste des spectacles</h1>
        <a th:href="@{/admin/showNewSpectacleForm}" class="btn btn-primary btn-sm mb-3">Ajouter un spectacle</a>
        <div class="table-responsive">
        <table border="1" class="table table-striped table-responsive-md w-auto">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">titre</th>
                <th scope="col">photo</th>
                <th scope="col">typeSpectacle</th>
                <th scope="col">adresse</th>
                <th scope="col">dateHeure</th>
                <th scope="col">prix</th>
                <th scope="col">description</th>
                <th scope="col">accesHadicap</th>
                <th scope="col">interExter</th>
                <th scope="col">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="spectacle : ${listSpectacles}">
                <td th:title="${spectacle.id}" th:text="${spectacle.id}"></td>
                <td>
                    <a th:href="@{/admin/showDetailSpectacle/{id}(id=${spectacle.id})}"
                       th:title="${spectacle.titre}" th:text="${spectacle.titre}"></a>
                </td>
                <td th:title="${spectacle.photosUrl}" th:text="${spectacle.photosUrl.size()}"></td>
                <td th:title="${spectacle.typeSpectacle}" th:text="${spectacle.typeSpectacle}"></td>
                <td th:title="${spectacle.adresse}" th:text="${spectacle.adresse}"></td>
                <td th:title="${spectacle.dateHeure}" th:text="${spectacle.dateHeure}"></td>
                <td th:title="${spectacle.prix}" th:text="${spectacle.prix}"></td>
                <td th:title="${spectacle.description}" th:text="${spectacle.description}"></td>
                <td th:title="${spectacle.accesHadicap}" th:text="${spectacle.accesHadicap}"></td>
                <td th:title="${spectacle.interExter}" th:text="${spectacle.interExter}"></td>
                <td>
                    <a th:href="@{/admin/showFormForUpdate/{id}(id=${spectacle.id})}" class="btn btn-primary">Update</a>
                    <a th:onclick ="@{'return confirm(\'Êtes-vous sûre de vouloir supprimer le spectacle '+${spectacle.titre}+' ?\')'}"
                       th:href="@{/admin/deleteSpectacle(id=${spectacle.id},page=${currentPage},size=${size},motcle=${motcle})}"
                       class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
    <div class="myContainer">
        <ul class="nav nav-pills">
            <li th:class="${currentPage}==${status.index}?'active':''" th:each="page,status:${pages}">
                <a th:href="@{/admin/index(page=${status.index},size=${size},motcle=${motcle})}"
                   th:text="${status.index}"></a>
            </li>
        </ul>
    </div>
</div>
</body>
</html>